<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>App Registration | Innovation Co-Lab</title>
  <meta name="description" content="App registration page for Duke Innovation Co-Lab. The Innovation Co-Lab is a Creativity Incubator connecting student pioneers with the human and technological resources necessary to jumpstart their success.">
  <meta name="keywords" content="colab,app,api,duke,innovationcolab">

  <link rel="icon" href="favicon.png">
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76482611-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
